.ant-picker-small {
  height: 37px;
}
/* .ant-progress-text {
  margin-left: 0px !important;
} */
.ant-tag-green {
  background-color: green !important;
}
.ant-tag-red {
  background-color: red !important;
}
.eLvlwt .ant-collapse-content p {
  color: black;
  margin-bottom: 10px;
}